/* 
The " * " marks upon the whole document.
Using this selector helps me select the whole document and I defined some rules like no margin and padding and box sizing
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
}

/* 
    Here I gave the UL a Class of menu and defined the content to flex and justified the content of space between. Margin is auto.
*/

.menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* 
    Here I gave the Logo a Class of Flatbaka and defined its width.
*/

.flatbaka {
    width: 130px;
}

/* 
    Here I selected the header and made it into a flexbox. 
    I defined the width to be 100% of the screen, position is fixed, gave it a color and added some much needed padding.
*/

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: #BD3535;
    padding: 1rem 1rem;

}

.pizza {
    width: auto;
}

/* 
    Here I targeted the list items of the navigation bar and defined the items to be displayed inline, 
    without any added decoration and styling of the font and with some padding.
*/

nav ul li {
    display: inline;
    text-decoration-style: none;
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-right: 2em;
    padding-top: 1.5rem;
}

/* 
    Here I targeted the first child of the list items of the navigation and made the margin right auto. This is the logo.
    So I gave it a margin-right auto to give it the ability to use the space available to push it to the left.
*/

.menu-child-1 {
    padding: 0;
    margin-right: auto;
}

.menu-child-4 {
    margin-right: 0.8rem;
}

nav {
    width: 100%;
}

/* 
    Here Is another unordered list that stands in the content of the page.
    I defined the margin to match the H1 and added a padding on top to make the list more readable.
*/

section ul li {
    margin-left: 9rem;
    max-width: 39rem;
    padding-top: 1rem;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    max-width: 600px;
    margin-left: 6rem;
    margin-top: 4rem;
    font-size: 2.8rem;
    line-height: 4rem;
}

p {
    max-width: 760px;
    margin-left: 6rem;
    padding-top: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.3rem;
    font-family: 'Exo', sans-serif;

}

.content {
    display: flex;
    margin-top: 7.8rem;
    margin-bottom: -0.2rem;
}

main {
    display: flex;
}

/* 
    Here I styled the hyperlinks so they wont be blue or underlined. ( the deafult styling of html documents )
*/

a  {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: #BDBDBD;
}

.brown-container {
    background-color: #654E4E;
    height: 70px;
}

/* 
    Here I gave the text inside footer the id stadsetning. Here I style it.
*/

#stadsetning {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    color: #BDBDBD;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    word-spacing: 0.2rem;
}